modules/toxml/student_3_0.dtd

<?xml encoding="UTF-8"?>
<!--教育部國民中小學－學生學籍／成績／健康資料交換規格標準3.0版-->
<!--學生學籍資料DTD資料起始-->
<!ELEMENT 學籍交換資料 (學生基本資料+)>
<!--1.學生基本資料 起始-->
<!ELEMENT 學生基本資料 (基本資料,學期資料,異動資料,期中資料?)>
<!ELEMENT 基本資料 (學生姓名,學生性別,學生生日,現在年級,現在班級,現在座號,學生身份註記,原住民,身分證證照,連絡資料,學生班級性質,入學前教育資料,畢修業核准文號,父親基本資料,母親基本資料,祖父基本資料,祖母基本資料,監護人,兄弟姊妹,其他親屬)>
<!ELEMENT 學生姓名 (#PCDATA)>
<!ELEMENT 學生性別 (#PCDATA|男|女)*>
<!ELEMENT 男 EMPTY>
<!ELEMENT 女 EMPTY>
<!ELEMENT 學生生日 (#PCDATA)>
<!ELEMENT 現在年級 (#PCDATA)>
<!ELEMENT 現在班級 (#PCDATA)>
<!ELEMENT 現在座號 (#PCDATA)>
<!ELEMENT 學生身份註記 (學生身份註記_資料內容+)>
<!ELEMENT 學生身份註記_資料內容 (學生身份註記_類別,學生身份註記_備註)>
<!ELEMENT 學生身份註記_類別 (#PCDATA|一般學生|本人身障|家長身障|低收入戶|大陸來台依親者|功勳子女|海外僑生|港澳生|邊疆生|原住民|外籍生|資優生|派外人員子女|體育績優|顏面傷殘|教職員子女|公教遺族-因公|公教遺族-因病|單親|雙親|失親|其他)*>
<!ELEMENT 一般學生 (#PCDATA)>
<!ELEMENT 本人身障 (#PCDATA)>
<!ELEMENT 家長身障 (#PCDATA)>
<!ELEMENT 低收入戶 (#PCDATA)>
<!ELEMENT 大陸來台依親者 (#PCDATA)>
<!ELEMENT 功勳子女 (#PCDATA)>
<!ELEMENT 海外僑生 (#PCDATA)>
<!ELEMENT 港澳生 (#PCDATA)>
<!ELEMENT 邊疆生 (#PCDATA)>
<!ELEMENT 外籍生 (#PCDATA)>
<!ELEMENT 資優生 (#PCDATA)>
<!ELEMENT 派外人員子女 (#PCDATA)>
<!ELEMENT 體育績優 (#PCDATA)>
<!ELEMENT 顏面傷殘 (#PCDATA)>
<!ELEMENT 教職員子女 (#PCDATA)>
<!ELEMENT 公教遺族-因公 (#PCDATA)>
<!ELEMENT 公教遺族-因病 (#PCDATA)>
<!ELEMENT 單親 (#PCDATA)>
<!ELEMENT 雙親 (#PCDATA)>
<!ELEMENT 失親 (#PCDATA)>
<!ELEMENT 其他 (#PCDATA)>
<!ELEMENT 學生身份註記_備註 (#PCDATA)>
<!ELEMENT 原住民 (原住民_居住地,原住民_族別)>
<!ELEMENT 原住民_居住地 (#PCDATA|山地|平地)*>
<!ELEMENT 山地 EMPTY>
<!ELEMENT 平地 EMPTY>
<!ELEMENT 原住民_族別 (#PCDATA|阿美族|泰雅族|排灣族|布農族|卑南族|魯凱族|鄒族|賽夏族|雅美族|邵族|葛瑪蘭族|太魯閣族|撒奇萊雅族|其他)*>
<!ELEMENT 阿美族 EMPTY>
<!ELEMENT 泰雅族 EMPTY>
<!ELEMENT 排灣族 EMPTY>
<!ELEMENT 布農族 EMPTY>
<!ELEMENT 卑南族 EMPTY>
<!ELEMENT 魯凱族 EMPTY>
<!ELEMENT 鄒族 EMPTY>
<!ELEMENT 賽夏族 EMPTY>
<!ELEMENT 雅美族 EMPTY>
<!ELEMENT 邵族 EMPTY>
<!ELEMENT 葛瑪蘭族 EMPTY>
<!ELEMENT 太魯閣族 EMPTY>
<!ELEMENT 撒奇萊雅族 EMPTY>
<!ELEMENT 身分證證照 (國籍,證照種類,證照號碼,僑居地)>
<!ELEMENT 國籍 (#PCDATA)>
<!ELEMENT 證照種類 (#PCDATA|身分證|護照|居留證)*>
<!ELEMENT 身分證 EMPTY>
<!ELEMENT 護照 EMPTY>
<!ELEMENT 居留證 EMPTY>

<!ELEMENT 證照號碼 (#PCDATA)>
<!ELEMENT 僑居地 (#PCDATA)>
<!ELEMENT 連絡資料 (戶籍地址,通訊地址,通訊電話,行動電話)>
<!ELEMENT 戶籍地址 (戶籍地址_縣市名,戶籍地址_鄉鎮市區名,戶籍地址_村里,戶籍地址_鄰,戶籍地址_路街,戶籍地址_段,戶籍地址_巷,戶籍地址_弄,戶籍地址_號,戶籍地址_之,戶籍地址_樓,戶籍地址_樓之,戶籍地址_其他)>
<!ELEMENT 戶籍地址_縣市名 (#PCDATA)>
<!ELEMENT 戶籍地址_鄉鎮市區名 (#PCDATA)>
<!ELEMENT 戶籍地址_村里 (#PCDATA)>
<!ELEMENT 戶籍地址_鄰 (#PCDATA)>
<!ELEMENT 戶籍地址_路街 (#PCDATA)>
<!ELEMENT 戶籍地址_段 (#PCDATA)>
<!ELEMENT 戶籍地址_巷 (#PCDATA)>
<!ELEMENT 戶籍地址_弄 (#PCDATA)>
<!ELEMENT 戶籍地址_號 (#PCDATA)>
<!ELEMENT 戶籍地址_之 (#PCDATA)>
<!ELEMENT 戶籍地址_樓 (#PCDATA)>
<!ELEMENT 戶籍地址_樓之 (#PCDATA)>
<!ELEMENT 戶籍地址_其他 (#PCDATA)>
<!ELEMENT 通訊地址 (通訊地址_縣市名,通訊地址_鄉鎮市區名,通訊地址_村里,通訊地址_鄰,通訊地址_路街,通訊地址_段,通訊地址_巷,通訊地址_弄,通訊地址_號,通訊地址_之,通訊地址_樓,通訊地址_樓之,通訊地址_其他)>
<!ELEMENT 通訊地址_縣市名 (#PCDATA)>
<!ELEMENT 通訊地址_鄉鎮市區名 (#PCDATA)>
<!ELEMENT 通訊地址_村里 (#PCDATA)>
<!ELEMENT 通訊地址_鄰 (#PCDATA)>
<!ELEMENT 通訊地址_路街 (#PCDATA)>
<!ELEMENT 通訊地址_段 (#PCDATA)>
<!ELEMENT 通訊地址_巷 (#PCDATA)>
<!ELEMENT 通訊地址_弄 (#PCDATA)>
<!ELEMENT 通訊地址_號 (#PCDATA)>
<!ELEMENT 通訊地址_之 (#PCDATA)>
<!ELEMENT 通訊地址_樓 (#PCDATA)>
<!ELEMENT 通訊地址_樓之 (#PCDATA)>
<!ELEMENT 通訊地址_其他 (#PCDATA)>
<!ELEMENT 通訊電話 (#PCDATA)>
<!ELEMENT 行動電話 (#PCDATA)>
<!ELEMENT 學生班級性質 (班級性質,特教班類別,特教班班別,特殊班上課性質)>
<!ELEMENT 班級性質 (#PCDATA|普通班|特教班)*>
<!ELEMENT 普通班 (#PCDATA)>
<!ELEMENT 特教班 (#PCDATA)>
<!ELEMENT 特教班類別 (#PCDATA|身障類|資優類)*>
<!ELEMENT 身障類 (#PCDATA)>
<!ELEMENT 資優類 (#PCDATA)>
<!ELEMENT 特教班班別 (#PCDATA|啟智|啟明|啟聰|肢障|不分類|資源班|巡迴輔導|一般智能|學術性向|音樂|美術|舞蹈|體育|其他)*>
<!ELEMENT 啟智 (#PCDATA)>
<!ELEMENT 啟明 (#PCDATA)>
<!ELEMENT 啟聰 (#PCDATA)>
<!ELEMENT 肢障 (#PCDATA)>
<!ELEMENT 不分類 (#PCDATA)>
<!ELEMENT 資源班 (#PCDATA)>
<!ELEMENT 巡迴輔導 (#PCDATA)>
<!ELEMENT 一般智能 (#PCDATA)>
<!ELEMENT 學術性向 (#PCDATA)>
<!ELEMENT 音樂 (#PCDATA)>
<!ELEMENT 美術 (#PCDATA)>
<!ELEMENT 舞蹈 (#PCDATA)>
<!ELEMENT 體育 (#PCDATA)>
<!ELEMENT 特殊班上課性質 (#PCDATA|集中式|分散式)*>
<!ELEMENT 集中式 (#PCDATA)>
<!ELEMENT 分散式 (#PCDATA)>
<!ELEMENT 入學前教育資料 (#PCDATA|幼稚園入學 | 國小入學)*>
<!ELEMENT 幼稚園入學 (幼稚園入學資格,幼稚園_教育部學校代碼,幼稚園_學校名稱)?>
<!ELEMENT 幼稚園入學資格 (#PCDATA|本學區|大學區|隨父就讀|隨母就讀)*>
<!ELEMENT 本學區 (#PCDATA)>
<!ELEMENT 大學區 (#PCDATA)>
<!ELEMENT 隨父就讀 (#PCDATA)>
<!ELEMENT 隨母就讀 (#PCDATA)>
<!ELEMENT 幼稚園_教育部學校代碼 (#PCDATA)>
<!ELEMENT 幼稚園_學校名稱 (#PCDATA)>
<!ELEMENT 國小入學 (國小入學資格,國小_教育部學校代碼,國小_學校名稱)?>
<!ELEMENT 國小入學資格 (#PCDATA|本學區|大學區|隨父就讀|隨母就讀)*>
<!ELEMENT 國小_教育部學校代碼 (#PCDATA)>
<!ELEMENT 國小_學校名稱 (#PCDATA)>
<!ELEMENT 畢修業核准文號 (畢修業別,畢修業_日期,畢修業_字,畢修業_號)>
<!ELEMENT 畢修業別 (#PCDATA|畢業|修業)*>
<!ELEMENT 畢業 (#PCDATA)>
<!ELEMENT 修業 (#PCDATA)>
<!ELEMENT 畢修業_日期 (#PCDATA)>
<!ELEMENT 畢修業_字 (#PCDATA)>
<!ELEMENT 畢修業_號 (#PCDATA)>
<!ELEMENT 父親基本資料 (父親_姓名,父親_出生年次,父親_原國籍,父親_已入中華民國國籍,父親_存歿,與父關係,父親_身分證號,父親_教育程度,父親_畢修業別,父親_職業,父親_服務單位,父親_職稱,父親_電話號碼-公,父親_電話號碼-宅,父親_行動電話,父親_電子郵件信箱)>
<!ELEMENT 父親_姓名 (#PCDATA)>
<!ELEMENT 父親_出生年次 (#PCDATA)>
<!ELEMENT 父親_原國籍 (#PCDATA)>
<!ELEMENT 父親_已入中華民國國籍 (#PCDATA|是|否)*>
<!ELEMENT 是 (#PCDATA)>
<!ELEMENT 否 (#PCDATA)>
<!ELEMENT 父親_存歿 (#PCDATA|存|歿)*>
<!ELEMENT 存 (#PCDATA)>
<!ELEMENT 歿 (#PCDATA)>
<!ELEMENT 與父關係 (#PCDATA|生父|養父|繼父)*>
<!ELEMENT 生父 (#PCDATA)>
<!ELEMENT 養父 (#PCDATA)>
<!ELEMENT 繼父 (#PCDATA)>
<!ELEMENT 父親_身分證號 (#PCDATA|身分證字號|護照號碼|居留證號碼)*>
<!ELEMENT 身分證字號 (#PCDATA)>
<!ELEMENT 護照號碼 EMPTY>
<!ELEMENT 居留證號碼 EMPTY>
<!ELEMENT 父親_教育程度 (#PCDATA|博士|碩士|大學|專科|高中|高職|國中|國小|識字|不識字|其它)*>
<!ELEMENT 博士 EMPTY>
<!ELEMENT 碩士 EMPTY>
<!ELEMENT 大學 EMPTY>
<!ELEMENT 專科 EMPTY>
<!ELEMENT 高中 EMPTY>
<!ELEMENT 高職 EMPTY>
<!ELEMENT 國中 EMPTY>
<!ELEMENT 國小 EMPTY>
<!ELEMENT 識字 EMPTY>
<!ELEMENT 不識字 EMPTY>
<!ELEMENT 其它 (#PCDATA)>
<!ELEMENT 父親_畢修業別 (#PCDATA|畢業|修業)*>
<!ELEMENT 父親_職業 (#PCDATA|軍|公|教|商|工|農|漁|服務|自由|醫護|金融|退休|家管|其他|無)*>
<!ELEMENT 軍 EMPTY>
<!ELEMENT 公 EMPTY>
<!ELEMENT 教 EMPTY>
<!ELEMENT 商 EMPTY>
<!ELEMENT 工 EMPTY>
<!ELEMENT 農 EMPTY>
<!ELEMENT 漁 EMPTY>
<!ELEMENT 服務 EMPTY>
<!ELEMENT 自由 EMPTY>
<!ELEMENT 醫護 EMPTY>
<!ELEMENT 金融 EMPTY>
<!ELEMENT 退休 EMPTY>
<!ELEMENT 家管 EMPTY>
<!ELEMENT 無 EMPTY>
<!ELEMENT 父親_服務單位 (#PCDATA)>
<!ELEMENT 父親_職稱 (#PCDATA)>
<!ELEMENT 父親_電話號碼-公 (#PCDATA)>
<!ELEMENT 父親_電話號碼-宅 (#PCDATA)>
<!ELEMENT 父親_行動電話 (#PCDATA)>
<!ELEMENT 父親_電子郵件信箱 (#PCDATA)>
<!ELEMENT 母親基本資料 (母親_姓名,母親_出生年次,母親_原國籍,母親_已入中華民國國籍,母親_存歿,與母關係,母親_身分證號,母親_教育程度,母親_畢修業別,母親_職業,母親_服務單位,母親_職稱,母親_電話號碼-公,母親_電話號碼-宅,母親_行動電話,母親_電子郵件信箱)>
<!ELEMENT 母親_姓名 (#PCDATA)>
<!ELEMENT 母親_出生年次 (#PCDATA)>
<!ELEMENT 母親_原國籍 (#PCDATA)>
<!ELEMENT 母親_已入中華民國國籍 (#PCDATA|是|否)*>
<!ELEMENT 母親_存歿 (#PCDATA|存|歿)*>
<!ELEMENT 與母關係 (#PCDATA|生母|養母|繼母)*>
<!ELEMENT 生母 (#PCDATA)>
<!ELEMENT 養母 (#PCDATA)>
<!ELEMENT 繼母 (#PCDATA)>
<!ELEMENT 母親_身分證號 (#PCDATA|身分證|護照|居留證)*>
<!ELEMENT 母親_教育程度 (#PCDATA|博士|碩士|大學|專科|高中|高職|國中|國小|識字|不識字|其他)*>
<!ELEMENT 母親_畢修業別 (#PCDATA|畢業|修業)*>
<!ELEMENT 母親_職業 (#PCDATA|軍|公|教|商|工|農|漁|服務|自由|醫護|金融|退休|家管|其他|無)*>
<!ELEMENT 母親_服務單位 (#PCDATA)>
<!ELEMENT 母親_職稱 (#PCDATA)>
<!ELEMENT 母親_電話號碼-公 (#PCDATA)>
<!ELEMENT 母親_電話號碼-宅 (#PCDATA)>
<!ELEMENT 母親_行動電話 (#PCDATA)>
<!ELEMENT 母親_電子郵件信箱 (#PCDATA)>
<!ELEMENT 祖父基本資料 (祖父_姓名,祖父_存歿)>
<!ELEMENT 祖父_姓名 (#PCDATA)>
<!ELEMENT 祖父_存歿 (#PCDATA|存|歿)*>
<!ELEMENT 祖母基本資料 (祖母_姓名,祖母_存歿)>
<!ELEMENT 祖母_姓名 (#PCDATA)>
<!ELEMENT 祖母_存歿 (#PCDATA|存|歿)*>
<!ELEMENT 監護人 (監護人_姓名,與監護人之關係,監護人_身分證號,監護人_地址,監護人_服務單位,監護人_職稱,監護人_連絡電話,監護人_行動電話,監護人_電子郵件信箱)>
<!ELEMENT 監護人_姓名 (#PCDATA)>
<!ELEMENT 與監護人之關係 (#PCDATA)>
<!ELEMENT 監護人_身分證號 (#PCDATA)>
<!ELEMENT 監護人_地址 (#PCDATA)>
<!ELEMENT 監護人_服務單位 (#PCDATA)>
<!ELEMENT 監護人_職稱 (#PCDATA)>
<!ELEMENT 監護人_連絡電話 (#PCDATA)>
<!ELEMENT 監護人_行動電話 (#PCDATA)>
<!ELEMENT 監護人_電子郵件信箱 (#PCDATA)>
<!ELEMENT 兄弟姊妹 (兄弟姊妹_資料內容*)>
<!ELEMENT 兄弟姊妹_資料內容 (兄弟姊妹_稱謂,兄弟姊妹_姓名)>
<!ELEMENT 兄弟姊妹_稱謂 (#PCDATA|兄|弟|姐|妹)*>
<!ELEMENT 兄 (#PCDATA)>
<!ELEMENT 弟 (#PCDATA)>
<!ELEMENT 姐 (#PCDATA)>
<!ELEMENT 妹 (#PCDATA)>
<!ELEMENT 兄弟姊妹_姓名 (#PCDATA)>
<!ELEMENT 其他親屬 (其他親屬_資料內容*)>
<!ELEMENT 其他親屬_資料內容 (其他親屬_姓名,其他親屬_稱謂,其他親屬_連絡電話,其他親屬_行動電話,其他親屬_電子郵件信箱)>
<!ELEMENT 其他親屬_姓名 (#PCDATA)>
<!ELEMENT 其他親屬_稱謂 (#PCDATA|父子|父女|母子|母女|祖孫|兄弟|兄妹|姐弟|姊妹|伯叔姑姪甥|其他)*>
<!ELEMENT 父子 (#PCDATA)>
<!ELEMENT 父女 (#PCDATA)>
<!ELEMENT 母子 (#PCDATA)>
<!ELEMENT 母女 (#PCDATA)>
<!ELEMENT 祖孫 (#PCDATA)>
<!ELEMENT 兄弟 (#PCDATA)>
<!ELEMENT 兄妹 (#PCDATA)>
<!ELEMENT 姐弟 (#PCDATA)>
<!ELEMENT 姊妹 (#PCDATA)>
<!ELEMENT 伯叔姑姪甥 (#PCDATA)>
<!ELEMENT 其他親屬_連絡電話 (#PCDATA)>
<!ELEMENT 其他親屬_行動電話 (#PCDATA)>
<!ELEMENT 其他親屬_電子郵件信箱 (#PCDATA)>
<!-- 1.學生基本資料 結束 -->
<!-- 2.學生學期資料 起始 -->
<!ELEMENT 學期資料 (個別學期資料+)>
<!ELEMENT 個別學期資料 (學年別,學期別,班級座號,學期成績,日常生活表現,特殊優良表現,心理測驗,輔導紀錄,輔導訪談紀錄)>
<!ELEMENT 學年別 (#PCDATA)>
<!ELEMENT 學期別 (#PCDATA)>
<!ELEMENT 班級座號 (年級,班級,座號)>
<!ELEMENT 年級 (#PCDATA)>
<!ELEMENT 班級 (#PCDATA)>
<!ELEMENT 座號 (#PCDATA)>
<!ELEMENT 學期成績 (導師姓名,語文_學習領域百分制成績,語文_學習領域文字描述,本國語文百分制成績,本土語文百分制成績,本土語言類別,英語百分制成績,數學_學習領域百分制成績,數學_學習領域文字描述,自然與生活科技_學習領域百分制成績,自然與生活科技_學習領域文字描述,社會_學習領域百分制成績,社會_學習領域文字描述,健康與體育_學習領域百分制成績,健康與體育_學習領域文字描述,藝術與人文_學習領域百分制成績,藝術與人文_學習領域文字描述,生活課程_學習領域百分制成績,生活課程_學習領域文字描述,綜合活動_學習領域百分制成績,綜合活動_學習領域文字描述,彈性時數*)>
<!ELEMENT 導師姓名 (#PCDATA)>
<!ELEMENT 語文_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 語文_學習領域文字描述 (#PCDATA)>
<!ELEMENT 本國語文百分制成績 (#PCDATA)>
<!ELEMENT 本土語文百分制成績 (#PCDATA)>
<!ELEMENT 本土語言類別 (#PCDATA|閩南語|客家語|福州語|奇萊阿美語|北部阿美語|中部阿美語|海岸阿美語|馬蘭阿美語|恆春阿美語|賽考利克泰雅語|澤敖利泰雅語|汶水泰雅語|萬大泰雅語|四季泰雅語|宜蘭澤敖利泰雅語|宜蘭寒溪泰雅語|賽夏語|邵語|德固達雅語|都達語|德路固語|卓群布農語|卡群布農語|丹群布農語|巒群布農語|郡群布農語|阿里山鄒語|卡那卡那富鄒語|沙阿魯阿鄒語|東排灣語|北排灣語|中排灣語|南排灣語|東魯凱語|霧台魯凱語|大武魯凱語|多納魯凱語|茂林魯凱語|萬山魯凱語|太魯閣語|噶瑪蘭語|南王卑南語|知本卑南語|初鹿卑南語|建和卑南語|雅美語)*>
<!ELEMENT 閩南語 (#PCDATA)>
<!ELEMENT 客家語 (#PCDATA)>
<!ELEMENT 福州語 (#PCDATA)>
<!ELEMENT 奇萊阿美語 (#PCDATA)>
<!ELEMENT 北部阿美語 (#PCDATA)>
<!ELEMENT 中部阿美語 (#PCDATA)>
<!ELEMENT 海岸阿美語 (#PCDATA)>
<!ELEMENT 馬蘭阿美語 (#PCDATA)>
<!ELEMENT 恆春阿美語 (#PCDATA)>
<!ELEMENT 賽考利克泰雅語 (#PCDATA)>
<!ELEMENT 澤敖利泰雅語 (#PCDATA)>
<!ELEMENT 汶水泰雅語 (#PCDATA)>
<!ELEMENT 萬大泰雅語 (#PCDATA)>
<!ELEMENT 四季泰雅語 (#PCDATA)>
<!ELEMENT 宜蘭澤敖利泰雅語 (#PCDATA)>
<!ELEMENT 宜蘭寒溪泰雅語 (#PCDATA)>
<!ELEMENT 賽夏語 (#PCDATA)>
<!ELEMENT 邵語 (#PCDATA)>
<!ELEMENT 德固達雅語 (#PCDATA)>
<!ELEMENT 都達語 (#PCDATA)>
<!ELEMENT 德路固語 (#PCDATA)>
<!ELEMENT 卓群布農語 (#PCDATA)>
<!ELEMENT 卡群布農語 (#PCDATA)>
<!ELEMENT 丹群布農語 (#PCDATA)>
<!ELEMENT 巒群布農語 (#PCDATA)>
<!ELEMENT 郡群布農語 (#PCDATA)>
<!ELEMENT 阿里山鄒語 (#PCDATA)>
<!ELEMENT 卡那卡那富鄒語 (#PCDATA)>
<!ELEMENT 沙阿魯阿鄒語 (#PCDATA)>
<!ELEMENT 東排灣語 (#PCDATA)>
<!ELEMENT 北排灣語 (#PCDATA)>
<!ELEMENT 中排灣語 (#PCDATA)>
<!ELEMENT 南排灣語 (#PCDATA)>
<!ELEMENT 東魯凱語 (#PCDATA)>
<!ELEMENT 霧台魯凱語 (#PCDATA)>
<!ELEMENT 大武魯凱語 (#PCDATA)>
<!ELEMENT 多納魯凱語 (#PCDATA)>
<!ELEMENT 茂林魯凱語 (#PCDATA)>
<!ELEMENT 萬山魯凱語 (#PCDATA)>
<!ELEMENT 太魯閣語 (#PCDATA)>
<!ELEMENT 噶瑪蘭語 (#PCDATA)>
<!ELEMENT 南王卑南語 (#PCDATA)>
<!ELEMENT 知本卑南語 (#PCDATA)>
<!ELEMENT 初鹿卑南語 (#PCDATA)>
<!ELEMENT 建和卑南語 (#PCDATA)>
<!ELEMENT 雅美語 (#PCDATA)>
<!ELEMENT 英語百分制成績 (#PCDATA)>
<!ELEMENT 數學_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 數學_學習領域文字描述 (#PCDATA)>
<!ELEMENT 自然與生活科技_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 自然與生活科技_學習領域文字描述 (#PCDATA)>
<!ELEMENT 社會_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 社會_學習領域文字描述 (#PCDATA)>
<!ELEMENT 健康與體育_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 健康與體育_學習領域文字描述 (#PCDATA)>
<!ELEMENT 藝術與人文_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 藝術與人文_學習領域文字描述 (#PCDATA)>
<!ELEMENT 生活課程_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 生活課程_學習領域文字描述 (#PCDATA)>
<!ELEMENT 綜合活動_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 綜合活動_學習領域文字描述 (#PCDATA)>
<!ELEMENT 彈性時數 (彈性時數_分項科目*)>
<!ELEMENT 彈性時數_分項科目 (彈性時數_科目名稱,彈性時數_科目百分制成績)>
<!ELEMENT 彈性時數_科目名稱 (#PCDATA)>
<!ELEMENT 彈性時數_科目百分制成績 (#PCDATA)>
<!ELEMENT 日常生活表現 (日常生活表現_文字描述,學期出缺席_應出席日數,學期出缺席_事假數,學期出缺席_病假數,學期出缺席_曠課數,學期出缺席_其他假數,學期出缺席_單位)>
<!ELEMENT 日常生活表現_文字描述 (#PCDATA)>
<!ELEMENT 學期出缺席_應出席日數 (#PCDATA)>
<!ELEMENT 學期出缺席_事假數 (#PCDATA)>
<!ELEMENT 學期出缺席_病假數 (#PCDATA)>
<!ELEMENT 學期出缺席_曠課數 (#PCDATA)>
<!ELEMENT 學期出缺席_其他假數 (#PCDATA)>
<!ELEMENT 學期出缺席_單位 (#PCDATA)>
<!ELEMENT 特殊優良表現 (優良表現事蹟*)>
<!ELEMENT 優良表現事蹟 (優良表現_日期,優良表現_事由)>
<!ELEMENT 優良表現_日期 (#PCDATA)>
<!ELEMENT 優良表現_事由 (#PCDATA)>
<!ELEMENT 心理測驗 (心理測驗_資料內容*)>
<!ELEMENT 心理測驗_資料內容 (心理測驗_名稱,心理測驗_原始分數,心理測驗_常模樣本,心理測驗_標準分數,心理測驗_百分等級,心理測驗_解釋)>
<!ELEMENT 心理測驗_名稱 (#PCDATA)>
<!ELEMENT 心理測驗_原始分數 (#PCDATA)>
<!ELEMENT 心理測驗_常模樣本 (#PCDATA)>
<!ELEMENT 心理測驗_標準分數 (#PCDATA)>
<!ELEMENT 心理測驗_百分等級 (#PCDATA)>
<!ELEMENT 心理測驗_解釋 (#PCDATA)>
<!ELEMENT 輔導紀錄 (父母關係,家庭氣氛,父管教方式,母管教方式,居住情形,經濟狀況,最喜愛學習領域,最困難學習領域,特殊才能,興趣,生活習慣,人際關係,外向行為,內向行為,學習行為,不良習慣,焦慮行為)>
<!ELEMENT 父母關係 (#PCDATA|同住|分住|分居|離婚|父亡|母亡|父母雙亡|父不詳|母不詳|其他)*>
<!ELEMENT 同住 (#PCDATA)>
<!ELEMENT 分住 (#PCDATA)>
<!ELEMENT 分居 (#PCDATA)>
<!ELEMENT 離婚 (#PCDATA)>
<!ELEMENT 父亡 (#PCDATA)>
<!ELEMENT 母亡 (#PCDATA)>
<!ELEMENT 父母雙亡 (#PCDATA)>
<!ELEMENT 父不詳 (#PCDATA)>
<!ELEMENT 母不詳 (#PCDATA)>
<!ELEMENT 家庭氣氛 (#PCDATA|很和諧|和諧|普通|不和諧|很不和諧)*>
<!ELEMENT 很和諧 (#PCDATA)>
<!ELEMENT 和諧 (#PCDATA)>
<!ELEMENT 普通 (#PCDATA)>
<!ELEMENT 不和諧 (#PCDATA)>
<!ELEMENT 很不和諧 (#PCDATA)>
<!ELEMENT 父管教方式 (#PCDATA|民主式|權威式|放任式|其他)*>
<!ELEMENT 民主式 (#PCDATA)>
<!ELEMENT 權威式 (#PCDATA)>
<!ELEMENT 放任式 (#PCDATA)>
<!ELEMENT 母管教方式 (#PCDATA|民主式|權威式|放任式|其他)*>
<!ELEMENT 居住情形 (#PCDATA|與父母同住|與父同住|與母同住|與祖父母同住|與親戚同住|寄住友人家|獨居|租屋居住|其他)*>
<!ELEMENT 與父母同住 (#PCDATA)>
<!ELEMENT 與父同住 (#PCDATA)>
<!ELEMENT 與母同住 (#PCDATA)>
<!ELEMENT 與祖父母同住 (#PCDATA)>
<!ELEMENT 與親戚同住 (#PCDATA)>
<!ELEMENT 寄住友人家 (#PCDATA)>
<!ELEMENT 獨居 (#PCDATA)>
<!ELEMENT 租屋居住 (#PCDATA)>
<!ELEMENT 經濟狀況 (#PCDATA|富裕|小康|普通|清寒|貧困)*>
<!ELEMENT 富裕 (#PCDATA)>
<!ELEMENT 小康 (#PCDATA)>
<!ELEMENT 清寒 (#PCDATA)>
<!ELEMENT 貧困 (#PCDATA)>
<!ELEMENT 最喜愛學習領域 (最喜愛學習領域_資料內容*)>
<!ELEMENT 最喜愛學習領域_資料內容 (#PCDATA|語文|數學|自然與生活科技|社會|健康與體育|藝術與人文|生活課程|綜合活動|本土語言|其他)*>
<!ELEMENT 語文 (#PCDATA)>
<!ELEMENT 數學 (#PCDATA)>
<!ELEMENT 自然與生活科技 (#PCDATA)>
<!ELEMENT 社會 (#PCDATA)>
<!ELEMENT 健康與體育 (#PCDATA)>
<!ELEMENT 藝術與人文 (#PCDATA)>
<!ELEMENT 生活課程 (#PCDATA)>
<!ELEMENT 綜合活動 (#PCDATA)>
<!ELEMENT 本土語言 (#PCDATA)>
<!ELEMENT 最困難學習領域 (最困難學習領域_資料內容*)>
<!ELEMENT 最困難學習領域_資料內容 (#PCDATA|語文|數學|自然與生活科技|社會|健康與體育|藝術與人文|生活課程|綜合活動|本土語言|其他)*>
<!ELEMENT 特殊才能 (特殊才能_資料內容*,武術_其他,樂器演奏_其他)>
<!ELEMENT 特殊才能_資料內容 (#PCDATA|球類|田徑|游泳|武術|美術|樂器演奏|歌唱|工藝|家事|演說|寫作|舞蹈|戲劇|書法|珠算|領導|英打|中打|外語|電腦|其他)*>
<!ELEMENT 球類 (#PCDATA)>
<!ELEMENT 田徑 (#PCDATA)>
<!ELEMENT 游泳 (#PCDATA)>
<!ELEMENT 武術 (#PCDATA)>
<!ELEMENT 樂器演奏 (#PCDATA)>
<!ELEMENT 歌唱 (#PCDATA)>
<!ELEMENT 工藝 (#PCDATA)>
<!ELEMENT 家事 (#PCDATA)>
<!ELEMENT 演說 (#PCDATA)>
<!ELEMENT 寫作 (#PCDATA)>
<!ELEMENT 戲劇 (#PCDATA)>
<!ELEMENT 書法 (#PCDATA)>
<!ELEMENT 珠算 (#PCDATA)>
<!ELEMENT 領導 (#PCDATA)>
<!ELEMENT 英打 (#PCDATA)>
<!ELEMENT 中打 (#PCDATA)>
<!ELEMENT 外語 (#PCDATA)>
<!ELEMENT 電腦 (#PCDATA)>
<!ELEMENT 武術_其他 (#PCDATA)>
<!ELEMENT 樂器演奏_其他 (#PCDATA)>
<!ELEMENT 興趣 (興趣_資料內容*)>
<!ELEMENT 興趣_資料內容 (#PCDATA|電視電影|閱讀|登山|露營|旅行郊遊|美術|划船游泳|釣魚|國術|樂器演奏|歌唱|音樂欣賞|舞蹈|繪畫|集郵|打球|編織|下棋|養小動物|作物栽培|電腦|其他)*>
<!ELEMENT 電視電影 (#PCDATA)>
<!ELEMENT 閱讀 (#PCDATA)>
<!ELEMENT 登山 (#PCDATA)>
<!ELEMENT 露營 (#PCDATA)>
<!ELEMENT 旅行郊遊 (#PCDATA)>
<!ELEMENT 划船游泳 (#PCDATA)>
<!ELEMENT 釣魚 (#PCDATA)>
<!ELEMENT 國術 (#PCDATA)>
<!ELEMENT 音樂欣賞 (#PCDATA)>
<!ELEMENT 繪畫 (#PCDATA)>
<!ELEMENT 集郵 (#PCDATA)>
<!ELEMENT 打球 (#PCDATA)>
<!ELEMENT 編織 (#PCDATA)>
<!ELEMENT 下棋 (#PCDATA)>
<!ELEMENT 養小動物 (#PCDATA)>
<!ELEMENT 作物栽培 (#PCDATA)>
<!ELEMENT 生活習慣 (生活習慣_資料內容*)>
<!ELEMENT 生活習慣_資料內容 (#PCDATA|整潔|勤勞|節儉|作息有規律|骯髒|懶惰|浪費|作息無規律|其他)*>
<!ELEMENT 整潔 (#PCDATA)>
<!ELEMENT 勤勞 (#PCDATA)>
<!ELEMENT 節儉 (#PCDATA)>
<!ELEMENT 作息有規律 (#PCDATA)>
<!ELEMENT 骯髒 (#PCDATA)>
<!ELEMENT 懶惰 (#PCDATA)>
<!ELEMENT 浪費 (#PCDATA)>
<!ELEMENT 作息無規律 (#PCDATA)>
<!ELEMENT 人際關係 (人際關係_資料內容*)>
<!ELEMENT 人際關係_資料內容 (#PCDATA|和氣|合群|活潑|信賴他人|好爭吵|自我中心|冷漠|多疑善妒|其他)*>
<!ELEMENT 和氣 (#PCDATA)>
<!ELEMENT 合群 (#PCDATA)>
<!ELEMENT 活潑 (#PCDATA)>
<!ELEMENT 信賴他人 (#PCDATA)>
<!ELEMENT 好爭吵 (#PCDATA)>
<!ELEMENT 自我中心 (#PCDATA)>
<!ELEMENT 冷漠 (#PCDATA)>
<!ELEMENT 多疑善妒 (#PCDATA)>
<!ELEMENT 外向行為 (外向行為_資料內容*)>
<!ELEMENT 外向行為_資料內容 (#PCDATA|領導力強|健談|慷慨|熱心公務|欺侮同學|常講粗話|好遊蕩|愛唱反調|其他)*>
<!ELEMENT 領導力強 (#PCDATA)>
<!ELEMENT 健談 (#PCDATA)>
<!ELEMENT 慷慨 (#PCDATA)>
<!ELEMENT 熱心公務 (#PCDATA)>
<!ELEMENT 欺侮同學 (#PCDATA)>
<!ELEMENT 常講粗話 (#PCDATA)>
<!ELEMENT 好遊蕩 (#PCDATA)>
<!ELEMENT 愛唱反調 (#PCDATA)>
<!ELEMENT 內向行為 (內向行為_資料內容*)>
<!ELEMENT 內向行為_資料內容 (#PCDATA|謹慎|文靜|自信|情緒穩定|畏縮|過份沈默|過份依賴|多愁善感|其他)*>
<!ELEMENT 謹慎 (#PCDATA)>
<!ELEMENT 文靜 (#PCDATA)>
<!ELEMENT 自信 (#PCDATA)>
<!ELEMENT 情緒穩定 (#PCDATA)>
<!ELEMENT 畏縮 (#PCDATA)>
<!ELEMENT 過份沈默 (#PCDATA)>
<!ELEMENT 過份依賴 (#PCDATA)>
<!ELEMENT 多愁善感 (#PCDATA)>
<!ELEMENT 學習行為 (學習行為_資料內容*)>
<!ELEMENT 學習行為_資料內容 (#PCDATA|專心|積極努力|有恆心|沈思好問|分心|被動馬虎|半途而廢|偏心某科|其他)*>
<!ELEMENT 專心 (#PCDATA)>
<!ELEMENT 積極努力 (#PCDATA)>
<!ELEMENT 有恆心 (#PCDATA)>
<!ELEMENT 沈思好問 (#PCDATA)>
<!ELEMENT 分心 (#PCDATA)>
<!ELEMENT 被動馬虎 (#PCDATA)>
<!ELEMENT 半途而廢 (#PCDATA)>
<!ELEMENT 偏心某科 (#PCDATA)>
<!ELEMENT 不良習慣 (不良習慣_資料內容*)>
<!ELEMENT 不良習慣_資料內容 (#PCDATA|無|發怪聲|口吃|作弄他人|吃指頭|咬筆|沉迷不良書刊|沉迷電動玩具|上課吃東西|說謊|吸煙|吸毒|其他)*>
<!ELEMENT 發怪聲 (#PCDATA)>
<!ELEMENT 口吃 (#PCDATA)>
<!ELEMENT 作弄他人 (#PCDATA)>
<!ELEMENT 吃指頭 (#PCDATA)>
<!ELEMENT 咬筆 (#PCDATA)>
<!ELEMENT 沉迷不良書刊 (#PCDATA)>
<!ELEMENT 沉迷電動玩具 (#PCDATA)>
<!ELEMENT 上課吃東西 (#PCDATA)>
<!ELEMENT 說謊 (#PCDATA)>
<!ELEMENT 吸煙 (#PCDATA)>
<!ELEMENT 吸毒 (#PCDATA)>
<!ELEMENT 焦慮行為 (焦慮行為_資料內容*)>
<!ELEMENT 焦慮行為_資料內容 (#PCDATA|無|表情緊張|發抖|胸痛|坐立不安|玩弄東西|肚子痛|頭痛|思考障礙|其他)*>
<!ELEMENT 表情緊張 (#PCDATA)>
<!ELEMENT 發抖 (#PCDATA)>
<!ELEMENT 胸痛 (#PCDATA)>
<!ELEMENT 坐立不安 (#PCDATA)>
<!ELEMENT 玩弄東西 (#PCDATA)>
<!ELEMENT 肚子痛 (#PCDATA)>
<!ELEMENT 頭痛 (#PCDATA)>
<!ELEMENT 思考障礙 (#PCDATA)>
<!ELEMENT 輔導訪談紀錄 (輔導訪談紀錄_資料內容*)>
<!ELEMENT 輔導訪談紀錄_資料內容 (紀錄日期,連絡對象,連絡事項,內容要點)>
<!ELEMENT 紀錄日期 (#PCDATA)>
<!ELEMENT 連絡對象 (#PCDATA)>
<!ELEMENT 連絡事項 (#PCDATA)>
<!ELEMENT 內容要點 (#PCDATA)>
<!-- 2.學生學期資料 結束 -->
<!-- 3.學生異動資料 起始 -->
<!ELEMENT 異動資料 (異動資料_資料內容*)>
<!ELEMENT 異動資料_資料內容 (原就讀縣市,原就讀學校名稱,原就讀學校代碼,異動日期,異動核准機關名稱,異動原因,核准文號_日期,核准文號_字,核准文號_號)>
<!ELEMENT 原就讀縣市 (#PCDATA)>
<!ELEMENT 原就讀學校名稱 (#PCDATA)>
<!ELEMENT 原就讀學校代碼 (#PCDATA)>
<!ELEMENT 異動日期 (#PCDATA)>
<!ELEMENT 異動核准機關名稱 (#PCDATA)>
<!ELEMENT 異動原因 (#PCDATA)>
<!ELEMENT 核准文號_日期 (#PCDATA)>
<!ELEMENT 核准文號_字 (#PCDATA)>
<!ELEMENT 核准文號_號 (#PCDATA)>
<!-- 3.學生異動資料 結束 -->
<!-- 4.學生期中資料 起始 -->
<!ELEMENT 期中資料 (期中缺席,期中成績,期中獎懲,社團活動)>
<!ELEMENT 期中缺席 (期中總缺席_事假數,期中總缺席_病假數,期中總缺席_曠課數,期中總缺席_其他假數,期中總缺席_單位,期中缺席_資料內容)>
<!ELEMENT 期中總缺席_事假數 (#PCDATA)>
<!ELEMENT 期中總缺席_病假數 (#PCDATA)>
<!ELEMENT 期中總缺席_曠課數 (#PCDATA)>
<!ELEMENT 期中總缺席_其他假數 (#PCDATA)>
<!ELEMENT 期中總缺席_單位 (#PCDATA)>
<!ELEMENT 期中缺席_資料內容 (期中缺席_分月資料*)>
<!ELEMENT 期中缺席_分月資料 (期中缺席_年,期中缺席_月,期中缺席_事假數,期中缺席_病假數,期中缺席_曠課數,期中缺席_其他假數)>
<!ELEMENT 期中缺席_年 (#PCDATA)>
<!ELEMENT 期中缺席_月 (#PCDATA)>
<!ELEMENT 期中缺席_事假數 (#PCDATA)>
<!ELEMENT 期中缺席_病假數 (#PCDATA)>
<!ELEMENT 期中缺席_曠課數 (#PCDATA)>
<!ELEMENT 期中缺席_其他假數 (#PCDATA)>
<!ELEMENT 期中成績 (期中成績_語文,期中成績_數學,期中成績_自然與生活科技,期中成績_社會,期中成績_健康與體育,期中成績_藝術與人文,期中成績_生活課程,期中成績_綜合活動,期中成績_彈性分項科目)>
<!ELEMENT 期中成績_語文 (期中成績_語文資料內容*)>
<!ELEMENT 期中成績_語文資料內容 (期中成績_語文領域段考別,期中成績_本國語文百分制成績,期中成績_本土語文百分制成績,期中成績_英語百分制成績)>
<!ELEMENT 期中成績_語文領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_本國語文百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_本土語文百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_英語百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_數學 (期中成績_數學資料內容*)>
<!ELEMENT 期中成績_數學資料內容 (期中成績_數學領域段考別,期中成績_數學領域百分制成績)>
<!ELEMENT 期中成績_數學領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_數學領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_自然與生活科技 (期中成績_自然與生活科技資料內容*)>
<!ELEMENT 期中成績_自然與生活科技資料內容 (期中成績_自然與生活科技領域段考別,期中成績_自然與生活科技領域百分制成績)>
<!ELEMENT 期中成績_自然與生活科技領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_自然與生活科技領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_社會 (期中成績_社會資料內容*)>
<!ELEMENT 期中成績_社會資料內容 (期中成績_社會領域段考別,期中成績_社會領域百分制成績)>
<!ELEMENT 期中成績_社會領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_社會領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_健康與體育 (期中成績_健康與體育資料內容*)>
<!ELEMENT 期中成績_健康與體育資料內容 (期中成績_健康與體育領域段考別,期中成績_健康與體育領域百分制成績)>
<!ELEMENT 期中成績_健康與體育領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_健康與體育領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_藝術與人文 (期中成績_藝術與人文資料內容*)>
<!ELEMENT 期中成績_藝術與人文資料內容 (期中成績_藝術與人文領域段考別,期中成績_藝術與人文領域百分制成績)>
<!ELEMENT 期中成績_藝術與人文領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_藝術與人文領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_生活課程 (期中成績_生活課程資料內容*)>
<!ELEMENT 期中成績_生活課程資料內容 (期中成績_生活課程領域段考別,期中成績_生活課程領域百分制成績)>
<!ELEMENT 期中成績_生活課程領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_生活課程領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_綜合活動 (期中成績_綜合活動資料內容*)>
<!ELEMENT 期中成績_綜合活動資料內容 (期中成績_綜合活動領域段考別,期中成績_綜合活動領域百分制成績)>
<!ELEMENT 期中成績_綜合活動領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_綜合活動領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_彈性分項科目 (期中成績_彈性時數*)>
<!ELEMENT 期中成績_彈性時數 (期中成績_彈性時數科目名稱,期中成績_彈性時數科目百分制成績)>
<!ELEMENT 期中成績_彈性時數科目名稱 (#PCDATA)>
<!ELEMENT 期中成績_彈性時數科目百分制成績 (#PCDATA)>
<!ELEMENT 期中獎懲 (期中獎懲紀錄*)>
<!ELEMENT 期中獎懲紀錄 (期中獎懲_日期,期中獎懲_類別,期中獎懲_次數,期中獎懲_事由)>
<!ELEMENT 期中獎懲_日期 (#PCDATA)>
<!ELEMENT 期中獎懲_類別 (#PCDATA|警告|小過|大過|嘉獎|小功|大功)*>
<!ELEMENT 警告 (#PCDATA)>
<!ELEMENT 小過 (#PCDATA)>
<!ELEMENT 大過 (#PCDATA)>
<!ELEMENT 嘉獎 (#PCDATA)>
<!ELEMENT 小功 (#PCDATA)>
<!ELEMENT 大功 (#PCDATA)>
<!ELEMENT 期中獎懲_次數 (#PCDATA)>
<!ELEMENT 期中獎懲_事由 (#PCDATA)>
<!ELEMENT 社團活動 (社團活動內容*)>
<!ELEMENT 社團活動內容 (社團名稱,社團活動成績)>
<!ELEMENT 社團名稱 (#PCDATA)>
<!ELEMENT 社團活動成績 (#PCDATA)>
<!-- 4.學生期中資料 結束 -->
<!-- 學生學籍資料 DTD 資料結束 -->
