modules/toxml/student_call-2_0_1.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: student_call-2_0_1.dtd,v 1.1.2.1 2005-10-24 05:48:14 brucelyc Exp $ -->
<!-- 教育部九年一貫課程學生成績評量及學籍電子資料交換規格標準之學生學籍資料 DTD 2.0 版於 2005.01.11 修正版-->
<!-- 學生學籍資料 DTD 資料起始 -->
<!ELEMENT 學籍交換資料 (學生基本資料+)>
<!-- 1.學生基本資料 起始 -->
<!ELEMENT 學生基本資料 (基本資料, 學期資料, 異動資料, 期中資料?)>
<!ELEMENT 基本資料 (學生姓名, 學生性別, 學生生日, 現在年級, 現在班級, 現在座號, 學生身份別, 身分證證照, 連絡資料, 中輟時戶籍地址, 學生班級性質, 入學前教育資料, 畢修業核准文號, 父親基本資料, 母親基本資料, 祖父基本資料, 祖母基本資料, 監護人, 兄弟姊妹, 其他親屬, 輔導個案資料)>
<!ELEMENT 學生姓名 (#PCDATA)>
<!ELEMENT 學生性別 (#PCDATA)>
<!ELEMENT 學生生日 (#PCDATA)>
<!ELEMENT 現在年級 (#PCDATA)>
<!ELEMENT 現在班級 (#PCDATA)>
<!ELEMENT 現在座號 (#PCDATA)>
<!ELEMENT 學生身份別 (學生身份別_資料內容+)>
<!ELEMENT 學生身份別_資料內容 (學生身份別_類別, 學生身份別_備註)>
<!ELEMENT 學生身份別_類別 (#PCDATA)>
<!ELEMENT 學生身份別_備註 (#PCDATA)>
<!ELEMENT 身分證證照 (國籍, 證照種類, 證照號碼, 僑居地)>
<!ELEMENT 國籍 (#PCDATA)>
<!ELEMENT 證照種類 (#PCDATA)>
<!ELEMENT 證照號碼 (#PCDATA)>
<!ELEMENT 僑居地 (#PCDATA)>
<!ELEMENT 連絡資料 (戶籍地址, 通訊地址, 通訊電話, 行動電話)>
<!ELEMENT 戶籍地址 (戶籍地址_縣市, 戶籍地址_鄉鎮市區, 戶籍地址_村里, 戶籍地址_鄰, 戶籍地址_其他)>
<!ELEMENT 戶籍地址_縣市 (#PCDATA)>
<!ELEMENT 戶籍地址_鄉鎮市區 (#PCDATA)>
<!ELEMENT 戶籍地址_村里 (#PCDATA)>
<!ELEMENT 戶籍地址_鄰 (#PCDATA)>
<!ELEMENT 戶籍地址_其他 (#PCDATA)>
<!ELEMENT 通訊地址 (通訊地址_縣市, 通訊地址_鄉鎮市區, 通訊地址_村里, 通訊地址_鄰, 通訊地址_其他)>
<!ELEMENT 通訊地址_縣市 (#PCDATA)>
<!ELEMENT 通訊地址_鄉鎮市區 (#PCDATA)>
<!ELEMENT 通訊地址_村里 (#PCDATA)>
<!ELEMENT 通訊地址_鄰 (#PCDATA)>
<!ELEMENT 通訊地址_其他 (#PCDATA)>
<!ELEMENT 通訊電話 (#PCDATA)>
<!ELEMENT 行動電話 (#PCDATA)>
<!ELEMENT 中輟時戶籍地址 (縣市名, 鄉鎮市區名, 村里, 鄰, 路街, 段, 巷, 弄, 號, 之, 樓, 樓之, 其他)>
<!ELEMENT 縣市名 (#PCDATA)>
<!ELEMENT 鄉鎮市區名 (#PCDATA)>
<!ELEMENT 村里 (#PCDATA)>
<!ELEMENT 鄰 (#PCDATA)>
<!ELEMENT 路街 (#PCDATA)>
<!ELEMENT 段 (#PCDATA)>
<!ELEMENT 巷 (#PCDATA)>
<!ELEMENT 弄 (#PCDATA)>
<!ELEMENT 號 (#PCDATA)>
<!ELEMENT 之 (#PCDATA)>
<!ELEMENT 樓 (#PCDATA)>
<!ELEMENT 樓之 (#PCDATA)>
<!ELEMENT 其他 (#PCDATA)>
<!ELEMENT 學生班級性質 (班級性質, 特殊班類別, 特殊班班別, 特殊班上課性質)>
<!ELEMENT 班級性質 (#PCDATA)>
<!ELEMENT 特殊班類別 (#PCDATA)>
<!ELEMENT 特殊班班別 (#PCDATA)>
<!ELEMENT 特殊班上課性質 (#PCDATA)>
<!ELEMENT 入學前教育資料 (幼稚園入學 | 國小入學)>
<!ELEMENT 幼稚園入學 (幼稚園入學資格, 幼稚園_教育部學校代碼, 幼稚園_學校名稱)?>
<!ELEMENT 幼稚園入學資格 (#PCDATA)>
<!ELEMENT 幼稚園_教育部學校代碼 (#PCDATA)>
<!ELEMENT 幼稚園_學校名稱 (#PCDATA)>
<!ELEMENT 國小入學 (國小入學資格, 國小_教育部學校代碼, 國小_學校名稱)?>
<!ELEMENT 國小入學資格 (#PCDATA)>
<!ELEMENT 國小_教育部學校代碼 (#PCDATA)>
<!ELEMENT 國小_學校名稱 (#PCDATA)>
<!ELEMENT 畢修業核准文號 (畢修業別, 畢修業_日期, 畢修業_字, 畢修業_號)>
<!ELEMENT 畢修業別 (#PCDATA)>
<!ELEMENT 畢修業_日期 (#PCDATA)>
<!ELEMENT 畢修業_字 (#PCDATA)>
<!ELEMENT 畢修業_號 (#PCDATA)>
<!ELEMENT 父親基本資料 (父親_姓名, 父親_出生年次, 父親_存歿, 與父關係, 父親_身分證號, 父親_教育程度, 父親_職業, 父親_服務單位, 父親_職稱, 父親_電話號碼-公, 父親_電話號碼-宅, 父親_行動電話, 父親_電子郵件信箱)>
<!ELEMENT 父親_姓名 (#PCDATA)>
<!ELEMENT 父親_出生年次 (#PCDATA)>
<!ELEMENT 父親_存歿 (#PCDATA)>
<!ELEMENT 與父關係 (#PCDATA)>
<!ELEMENT 父親_身分證號 (#PCDATA)>
<!ELEMENT 父親_教育程度 (#PCDATA)>
<!ELEMENT 父親_職業 (#PCDATA)>
<!ELEMENT 父親_服務單位 (#PCDATA)>
<!ELEMENT 父親_職稱 (#PCDATA)>
<!ELEMENT 父親_電話號碼-公 (#PCDATA)>
<!ELEMENT 父親_電話號碼-宅 (#PCDATA)>
<!ELEMENT 父親_行動電話 (#PCDATA)>
<!ELEMENT 父親_電子郵件信箱 (#PCDATA)>
<!ELEMENT 母親基本資料 (母親_姓名, 母親_出生年次, 母親_存歿, 與母關係, 母親_身分證號, 母親_教育程度, 母親_職業, 母親_服務單位, 母親_職稱, 母親_電話號碼-公, 母親_電話號碼-宅, 母親_行動電話, 母親_電子郵件信箱)>
<!ELEMENT 母親_姓名 (#PCDATA)>
<!ELEMENT 母親_出生年次 (#PCDATA)>
<!ELEMENT 母親_存歿 (#PCDATA)>
<!ELEMENT 與母關係 (#PCDATA)>
<!ELEMENT 母親_身分證號 (#PCDATA)>
<!ELEMENT 母親_教育程度 (#PCDATA)>
<!ELEMENT 母親_職業 (#PCDATA)>
<!ELEMENT 母親_服務單位 (#PCDATA)>
<!ELEMENT 母親_職稱 (#PCDATA)>
<!ELEMENT 母親_電話號碼-公 (#PCDATA)>
<!ELEMENT 母親_電話號碼-宅 (#PCDATA)>
<!ELEMENT 母親_行動電話 (#PCDATA)>
<!ELEMENT 母親_電子郵件信箱 (#PCDATA)>
<!ELEMENT 祖父基本資料 (祖父_姓名, 祖父_存歿)>
<!ELEMENT 祖父_姓名 (#PCDATA)>
<!ELEMENT 祖父_存歿 (#PCDATA)>
<!ELEMENT 祖母基本資料 (祖母_姓名, 祖母_存歿)>
<!ELEMENT 祖母_姓名 (#PCDATA)>
<!ELEMENT 祖母_存歿 (#PCDATA)>
<!ELEMENT 監護人 (監護人_姓名, 與監護人之關係, 監護人_身分證號, 監護人_地址, 監護人_服務單位, 監護人_職稱, 監護人_連絡電話, 監護人_行動電話, 監護人_電子郵件信箱)>
<!ELEMENT 監護人_姓名 (#PCDATA)>
<!ELEMENT 與監護人之關係 (#PCDATA)>
<!ELEMENT 監護人_身分證號 (#PCDATA)>
<!ELEMENT 監護人_地址 (#PCDATA)>
<!ELEMENT 監護人_服務單位 (#PCDATA)>
<!ELEMENT 監護人_職稱 (#PCDATA)>
<!ELEMENT 監護人_連絡電話 (#PCDATA)>
<!ELEMENT 監護人_行動電話 (#PCDATA)>
<!ELEMENT 監護人_電子郵件信箱 (#PCDATA)>
<!ELEMENT 兄弟姊妹 (兄弟姊妹_資料內容*)>
<!ELEMENT 兄弟姊妹_資料內容 (兄弟姊妹_稱謂, 兄弟姊妹_姓名, 兄弟姊妹_就讀學校)>
<!ELEMENT 兄弟姊妹_稱謂 (#PCDATA)>
<!ELEMENT 兄弟姊妹_姓名 (#PCDATA)>
<!ELEMENT 兄弟姊妹_就讀學校 (#PCDATA)>
<!ELEMENT 其他親屬 (其他親屬_資料內容*)>
<!ELEMENT 其他親屬_資料內容 (其他親屬_姓名, 其他親屬_稱謂, 其他親屬_連絡電話, 其他親屬_行動電話, 其他親屬_電子郵件信箱)>
<!ELEMENT 其他親屬_姓名 (#PCDATA)>
<!ELEMENT 其他親屬_稱謂 (#PCDATA)>
<!ELEMENT 其他親屬_連絡電話 (#PCDATA)>
<!ELEMENT 其他親屬_行動電話 (#PCDATA)>
<!ELEMENT 其他親屬_電子郵件信箱 (#PCDATA)>
<!ELEMENT 輔導個案資料 (個案編號, 個案來源, 接案日期, 認輔老師, 問題類別, 偏差行為, 適應不良原因, 結案否, 結案原因, 結案日期, 輔導個案紀錄, 個案關聯編號)>
<!ELEMENT 個案編號 (#PCDATA)>
<!ELEMENT 個案來源 (#PCDATA)>
<!ELEMENT 接案日期 (#PCDATA)>
<!ELEMENT 認輔老師 (#PCDATA)>
<!ELEMENT 問題類別 (#PCDATA)>
<!ELEMENT 偏差行為 (#PCDATA)>
<!ELEMENT 適應不良原因 (#PCDATA)>
<!ELEMENT 結案否 (#PCDATA)>
<!ELEMENT 結案原因 (#PCDATA)>
<!ELEMENT 結案日期 (#PCDATA)>
<!ELEMENT 輔導個案紀錄 (輔導個案紀錄_資料內容+)>
<!ELEMENT 輔導個案紀錄_資料內容 (輔導日期, 輔導內容)>
<!ELEMENT 輔導日期 (#PCDATA)>
<!ELEMENT 輔導內容 (#PCDATA)>
<!ELEMENT 個案關聯編號 (#PCDATA)>
<!-- 1.學生基本資料 結束 -->
<!-- 2.學生學期資料 起始 -->
<!ELEMENT 學期資料 (個別學期資料+)>
<!ELEMENT 個別學期資料 (學年別, 學期別, 班級座號, 分散式班級, 學期成績, 日常生活表現, 特殊優良表現, 心理測驗, 輔導紀錄, 輔導訪談紀錄)>
<!ELEMENT 學年別 (#PCDATA)>
<!ELEMENT 學期別 (#PCDATA)>
<!ELEMENT 班級座號 (年級, 班級, 座號)>
<!ELEMENT 年級 (#PCDATA)>
<!ELEMENT 班級 (#PCDATA)>
<!ELEMENT 座號 (#PCDATA)>
<!ELEMENT 分散式班級 (分散式_年級, 分散式_班級, 分散式_座號)>
<!ELEMENT 分散式_年級 (#PCDATA)>
<!ELEMENT 分散式_座號 (#PCDATA)>
<!ELEMENT 分散式_班級 (#PCDATA)>
<!ELEMENT 學期成績 (語文_學習領域百分制成績, 語文_學習領域文字描述, 本國語文百分制成績, 鄉土語文百分制成績, 鄉土語言類別, 英語百分制成績, 數學_學習領域百分制成績, 數學_學習領域文字描述, 自然與生活科技_學習領域百分制成績, 自然與生活科技_學習領域文字描述, 社會_學習領域百分制成績, 社會_學習領域文字描述, 健康與體育_學習領域百分制成績, 健康與體育_學習領域文字描述, 藝術與人文_學習領域百分制成績, 藝術與人文_學習領域文字描述, 生活課程_學習領域百分制成績, 生活課程_學習領域文字描述, 綜合活動_學習領域百分制成績, 綜合活動_學習領域文字描述, 彈性時數*)>
<!ELEMENT 語文_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 語文_學習領域文字描述 (#PCDATA)>
<!ELEMENT 本國語文百分制成績 (#PCDATA)>
<!ELEMENT 鄉土語文百分制成績 (#PCDATA)>
<!ELEMENT 鄉土語言類別 (#PCDATA)>
<!ELEMENT 英語百分制成績 (#PCDATA)>
<!ELEMENT 數學_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 數學_學習領域文字描述 (#PCDATA)>
<!ELEMENT 自然與生活科技_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 自然與生活科技_學習領域文字描述 (#PCDATA)>
<!ELEMENT 社會_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 社會_學習領域文字描述 (#PCDATA)>
<!ELEMENT 健康與體育_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 健康與體育_學習領域文字描述 (#PCDATA)>
<!ELEMENT 藝術與人文_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 藝術與人文_學習領域文字描述 (#PCDATA)>
<!ELEMENT 生活課程_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 生活課程_學習領域文字描述 (#PCDATA)>
<!ELEMENT 綜合活動_學習領域百分制成績 (#PCDATA)>
<!ELEMENT 綜合活動_學習領域文字描述 (#PCDATA)>
<!ELEMENT 彈性時數 (彈性時數_分項科目+)>
<!ELEMENT 彈性時數_分項科目 (彈性時數_科目名稱, 彈性時數_科目百分制成績)>
<!ELEMENT 彈性時數_科目名稱 (#PCDATA)>
<!ELEMENT 彈性時數_科目百分制成績 (#PCDATA)>
<!ELEMENT 日常生活表現 (日常生活表現_百分制成績, 日常生活表現_文字描述, 學期出缺席_應出席日數, 學期出缺席_事假數, 學期出缺席_病假數, 學期出缺席_曠課數, 學期出缺席_其他假數, 學期出缺席_單位)>
<!ELEMENT 日常生活表現_百分制成績 (#PCDATA)>
<!ELEMENT 日常生活表現_文字描述 (#PCDATA)>
<!ELEMENT 學期出缺席_應出席日數 (#PCDATA)>
<!ELEMENT 學期出缺席_事假數 (#PCDATA)>
<!ELEMENT 學期出缺席_病假數 (#PCDATA)>
<!ELEMENT 學期出缺席_曠課數 (#PCDATA)>
<!ELEMENT 學期出缺席_其他假數 (#PCDATA)>
<!ELEMENT 學期出缺席_單位 (#PCDATA)>
<!ELEMENT 特殊優良表現 (優良表現事蹟+)>
<!ELEMENT 優良表現事蹟 (優良表現_日期, 優良表現_事由)>
<!ELEMENT 優良表現_日期 (#PCDATA)>
<!ELEMENT 優良表現_事由 (#PCDATA)>
<!ELEMENT 心理測驗 (心理測驗_資料內容+)>
<!ELEMENT 心理測驗_資料內容 (心理測驗_名稱, 心理測驗_原始分數, 心理測驗_常模樣本, 心理測驗_標準分數, 心理測驗_百分等級, 心理測驗_解釋)>
<!ELEMENT 心理測驗_名稱 (#PCDATA)>
<!ELEMENT 心理測驗_原始分數 (#PCDATA)>
<!ELEMENT 心理測驗_常模樣本 (#PCDATA)>
<!ELEMENT 心理測驗_標準分數 (#PCDATA)>
<!ELEMENT 心理測驗_百分等級 (#PCDATA)>
<!ELEMENT 心理測驗_解釋 (#PCDATA)>
<!ELEMENT 輔導紀錄 (父母關係, 家庭氣氛, 父管教方式, 母管教方式, 居住情形, 經濟狀況, 最喜愛學習領域, 最困難學習領域, 特殊才能, 興趣, 生活習慣, 人際關係, 外向行為, 內向行為, 學習行為, 不良習慣, 焦慮行為)>
<!ELEMENT 父母關係 (#PCDATA)>
<!ELEMENT 家庭氣氛 (#PCDATA)>
<!ELEMENT 父管教方式 (#PCDATA)>
<!ELEMENT 母管教方式 (#PCDATA)>
<!ELEMENT 居住情形 (#PCDATA)>
<!ELEMENT 經濟狀況 (#PCDATA)>
<!ELEMENT 最喜愛學習領域 (最喜愛學習領域_資料內容+)>
<!ELEMENT 最喜愛學習領域_資料內容 (#PCDATA)>
<!ELEMENT 最困難學習領域 (最困難學習領域_資料內容+)>
<!ELEMENT 最困難學習領域_資料內容 (#PCDATA)>
<!ELEMENT 特殊才能 (特殊才能_資料內容+)>
<!ELEMENT 特殊才能_資料內容 (#PCDATA)>
<!ELEMENT 興趣 (興趣_資料內容+)>
<!ELEMENT 興趣_資料內容 (#PCDATA)>
<!ELEMENT 生活習慣 (生活習慣_資料內容+)>
<!ELEMENT 生活習慣_資料內容 (#PCDATA)>
<!ELEMENT 人際關係 (人際關係_資料內容+)>
<!ELEMENT 人際關係_資料內容 (#PCDATA)>
<!ELEMENT 外向行為 (外向行為_資料內容+)>
<!ELEMENT 外向行為_資料內容 (#PCDATA)>
<!ELEMENT 內向行為 (內向行為_資料內容+)>
<!ELEMENT 內向行為_資料內容 (#PCDATA)>
<!ELEMENT 學習行為 (學習行為_資料內容+)>
<!ELEMENT 學習行為_資料內容 (#PCDATA)>
<!ELEMENT 不良習慣 (不良習慣_資料內容+)>
<!ELEMENT 不良習慣_資料內容 (#PCDATA)>
<!ELEMENT 焦慮行為 (焦慮行為_資料內容+)>
<!ELEMENT 焦慮行為_資料內容 (#PCDATA)>
<!ELEMENT 輔導訪談紀錄 (輔導訪談紀錄_資料內容+)>
<!ELEMENT 輔導訪談紀錄_資料內容 (紀錄日期, 連絡對象, 連絡事項, 內容要點)>
<!ELEMENT 紀錄日期 (#PCDATA)>
<!ELEMENT 連絡對象 (#PCDATA)>
<!ELEMENT 連絡事項 (#PCDATA)>
<!ELEMENT 內容要點 (#PCDATA)>
<!-- 2.學生學期資料 結束 -->
<!-- 3.學生異動資料 起始 -->
<!ELEMENT 異動資料 (異動資料_資料內容+)>
<!ELEMENT 異動資料_資料內容 (原就讀縣市, 原就讀學校名稱, 原就讀學校代碼, 異動日期, 異動核准機關名稱, 異動原因, 核准文號_日期, 核准文號_字, 核准文號_號)>
<!ELEMENT 原就讀縣市 (#PCDATA)>
<!ELEMENT 原就讀學校名稱 (#PCDATA)>
<!ELEMENT 原就讀學校代碼 (#PCDATA)>
<!ELEMENT 異動日期 (#PCDATA)>
<!ELEMENT 異動核准機關名稱 (#PCDATA)>
<!ELEMENT 異動原因 (#PCDATA)>
<!ELEMENT 核准文號_日期 (#PCDATA)>
<!ELEMENT 核准文號_字 (#PCDATA)>
<!ELEMENT 核准文號_號 (#PCDATA)>
<!-- 3.學生異動資料 結束 -->
<!-- 4.學生期中資料 起始 -->
<!ELEMENT 期中資料 (期中缺席, 期中成績, 期中獎懲, 社團活動)>
<!ELEMENT 期中缺席 (期中總缺席_事假數, 期中總缺席_病假數, 期中總缺席_曠課數, 期中總缺席_其他假數, 期中總缺席_單位, 期中缺席_資料內容)>
<!ELEMENT 期中總缺席_事假數 (#PCDATA)>
<!ELEMENT 期中總缺席_病假數 (#PCDATA)>
<!ELEMENT 期中總缺席_曠課數 (#PCDATA)>
<!ELEMENT 期中總缺席_其他假數 (#PCDATA)>
<!ELEMENT 期中總缺席_單位 (#PCDATA)>
<!ELEMENT 期中缺席_資料內容 (期中缺席_分月資料+)>
<!ELEMENT 期中缺席_分月資料 (期中缺席_年, 期中缺席_月, 期中缺席_事假數, 期中缺席_病假數, 期中缺席_曠課數, 期中缺席_其他假數)>
<!ELEMENT 期中缺席_年 (#PCDATA)>
<!ELEMENT 期中缺席_月 (#PCDATA)>
<!ELEMENT 期中缺席_事假數 (#PCDATA)>
<!ELEMENT 期中缺席_病假數 (#PCDATA)>
<!ELEMENT 期中缺席_曠課數 (#PCDATA)>
<!ELEMENT 期中缺席_其他假數 (#PCDATA)>
<!ELEMENT 期中成績 (期中成績_語文, 期中成績_數學, 期中成績_自然與生活科技, 期中成績_社會, 期中成績_健康與體育, 期中成績_藝術與人文, 期中成績_生活課程, 期中成績_綜合活動, 期中成績_彈性時數)>
<!ELEMENT 期中成績_語文 (期中成績_語文資料內容+)>
<!ELEMENT 期中成績_語文資料內容 (期中成績_語文領域段考別, 期中成績_本國語文百分制成績, 期中成績_本國語文文字描述, 期中成績_鄉土語文百分制成績, 期中成績_鄉土語文文字描述, 期中成績_英語百分制成績, 期中成績_英語文字描述)>
<!ELEMENT 期中成績_語文領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_本國語文百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_本國語文文字描述 (#PCDATA)>
<!ELEMENT 期中成績_鄉土語文百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_鄉土語文文字描述 (#PCDATA)>
<!ELEMENT 期中成績_英語百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_英語文字描述 (#PCDATA)>
<!ELEMENT 期中成績_數學 (期中成績_數學資料內容+)>
<!ELEMENT 期中成績_數學資料內容 (期中成績_數學領域段考別, 期中成績_數學領域百分制成績, 期中成績_數學領域文字描述)>
<!ELEMENT 期中成績_數學領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_數學領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_數學領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_自然與生活科技 (期中成績_自然與生活科技資料內容+)>
<!ELEMENT 期中成績_自然與生活科技資料內容 (期中成績_自然與生活科技領域段考別, 期中成績_自然與生活科技領域百分制成績, 期中成績_自然與生活科技領域文字描述)>
<!ELEMENT 期中成績_自然與生活科技領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_自然與生活科技領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_自然與生活科技領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_社會 (期中成績_社會資料內容+)>
<!ELEMENT 期中成績_社會資料內容 (期中成績_社會領域段考別, 期中成績_社會領域百分制成績, 期中成績_社會領域文字描述)>
<!ELEMENT 期中成績_社會領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_社會領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_社會領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_健康與體育 (期中成績_健康與體育資料內容+)>
<!ELEMENT 期中成績_健康與體育資料內容 (期中成績_健康與體育領域段考別, 期中成績_健康與體育領域百分制成績, 期中成績_健康與體育領域文字描述)>
<!ELEMENT 期中成績_健康與體育領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_健康與體育領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_健康與體育領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_藝術與人文 (期中成績_藝術與人文資料內容+)>
<!ELEMENT 期中成績_藝術與人文資料內容 (期中成績_藝術與人文領域段考別, 期中成績_藝術與人文領域百分制成績, 期中成績_藝術與人文領域文字描述)>
<!ELEMENT 期中成績_藝術與人文領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_藝術與人文領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_藝術與人文領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_生活課程 (期中成績_生活課程資料內容+)>
<!ELEMENT 期中成績_生活課程資料內容 (期中成績_生活課程領域段考別, 期中成績_生活課程領域百分制成績, 期中成績_生活課程領域文字描述)>
<!ELEMENT 期中成績_生活課程領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_生活課程領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_生活課程領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_綜合活動 (期中成績_綜合活動資料內容+)>
<!ELEMENT 期中成績_綜合活動資料內容 (期中成績_綜合活動領域段考別, 期中成績_綜合活動領域百分制成績, 期中成績_綜合活動領域文字描述)>
<!ELEMENT 期中成績_綜合活動領域段考別 (#PCDATA)>
<!ELEMENT 期中成績_綜合活動領域百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_綜合活動領域文字描述 (#PCDATA)>
<!ELEMENT 期中成績_彈性分項科目 (期中成績_彈性時數科目名稱, 期中成績_彈性時數科目百分制成績, 期中成績_彈性時數科目文字描述)>
<!ELEMENT 期中成績_彈性時數 (期中成績_彈性分項科目)>
<!ELEMENT 期中成績_彈性時數科目名稱 (#PCDATA)>
<!ELEMENT 期中成績_彈性時數科目百分制成績 (#PCDATA)>
<!ELEMENT 期中成績_彈性時數科目文字描述 (#PCDATA)>
<!ELEMENT 期中獎懲 (期中獎懲紀錄+)>
<!ELEMENT 期中獎懲紀錄 (期中獎懲_日期, 期中獎懲_類別, 期中獎懲_次數, 期中獎懲_事由)>
<!ELEMENT 期中獎懲_日期 (#PCDATA)>
<!ELEMENT 期中獎懲_類別 (#PCDATA)>
<!ELEMENT 期中獎懲_次數 (#PCDATA)>
<!ELEMENT 期中獎懲_事由 (#PCDATA)>
<!ELEMENT 社團活動 (社團活動內容+)>
<!ELEMENT 社團活動內容 (社團名稱, 社團活動成績)>
<!ELEMENT 社團名稱 (#PCDATA)>
<!ELEMENT 社團活動成績 (#PCDATA)>
<!-- 4.學生期中資料 結束 -->
<!-- 學生學籍資料 DTD 資料結束 -->